* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  text-align: center;
  background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}

.job-sentence {
  padding-top: 40px;
}

.search-form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 20%;
  border: none;
  padding: 10px;
}

.cv-button:hover, .search-button:hover {
  opacity: 0.6;
}

.jobs {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* CV SECTION */

.form-stack > input {
  width: 100%;
  height: 15%;
  border: none;
}

.cv-form {
  max-width: 400px;
}

.cv-form h2 {
  margin-bottom: 3rem;
}

.cv-form label {
  font-weight: bold;
}

.cv-form .actions-section {
  display: grid;
  grid-auto-flow: column;
  justify-content: right;
  gap: 0.5rem;
}

.cv-button, .search-button {
  background: #87bc68;
  border: none;
  border-radius: 5px;
  margin: 10px;
  padding: 10px 20px;
  color: white;
  font-size: medium;
}