.job {
    border-radius: 10px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    width: 50%;
}

.skills-details {
    list-style-type: none;
}