* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  text-align: center;
  background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}

.job-sentence {
  padding-top: 40px;
}

.search-form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  padding: 1rem;
  border: none;
  transition: all 0.3s ease;
  margin: 10px;
  padding: 8px 20px;
  font-size: medium;
  background: white;
}

.search-button:hover {
  background: #87bc68;
}

.jobs {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.job {
  border-radius: 10px;
  margin: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  align-items: center;
  min-width: 40%;
}

.skills-details {
list-style-type: none;
}