.title {
    padding-top: 30px;
    color: #87bc68;;
}

.job {
    border-radius: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    min-width: 40%;
}